.main {
  display: flex;
  padding: 16rpx;
}
.main .left {
  position: absolute;
  top: 100rpx;
  bottom: 0;
  overflow: auto;
  width: 200rpx;
  text-align: center;
}
.main .left .item {
  width: 200rpx;
  line-height: 100rpx;
  background-color: #eee;
}
.main .left .active {
  background-color: #fff;
  color: #f00;
  position: relative;
}
.main .left .active::before {
  content: "";
  width: 8rpx;
  height: 60rpx;
  background-color: #f00;
  position: absolute;
  left: 0;
  top: 20rpx;
}
.main .right {
  position: absolute;
  top: 100rpx;
  right: 0;
  left: 216rpx;
  bottom: 0;
  overflow: auto;
  flex: 1;
  padding: 0rpx 16rpx;
}
.main .right .pic {
  width: 100%;
  height: 180rpx;
}
.main .right .view {
  text-align: center;
  line-height: 100rpx;
}
.main .right .view span {
  color: #ccc;
}
.main .right .boxx {
  display: flex;
  flex-wrap: wrap;
}
.main .right .boxx .box {
  width: 33%;
  height: 160rpx;
  margin-bottom: 20rpx;
  margin-right: 1rpx;
}
.main .right .boxx .box img {
  width: 90%;
  height: 80rpx;
}
.main .right .boxx .box p {
  text-align: center;
  font-size: 16px;
}
